.env
.env.local
.env.*.local
!.env.example


target/
**/target/
node_modules/
**/node_modules/
dist/
**/dist/

.idea/
.vscode/
*.iml
*.ipr
*.iws


*.log
logs/
tmp/
.DS_Store
Thumbs.db

/materials/*
/Отчеты/*
tests/
.agents/
Info.md
*.zip
/k8s/secret.yml