.env
.env.local
.env.*.local
!.env.example


target/
**/target/
node_modules/
**/node_modules/
dist/
**/dist/

.idea/
.vscode/
*.iml
*.ipr
*.iws


*.log
logs/
tmp/
.DS_Store
Thumbs.db

TZ-uchebny-radar.md
vvodnyi-seminar-12-faktorov-d1f39558-5aee-4316-b55c-6beb0c252332.pdf
tests/
.agents/
Info.md
*.zip
/k8s/secret.yml